.editor { 
    display: flex; 
    height: 100%;
    background-color: var(--color-dark);
}

/*
    RIGHT 
*/

.right { 
    flex: 0 0 50%;
    display: flex; 
    flex-direction: column;
    padding: 1em; 
    box-sizing: border-box;
}



/*
    LEFT 
*/
.left { 
    flex: 0 0 50%; 
    display: flex; 
    flex-direction: column;
}

.upperLeft { 
    flex: 0 0 50%; 
    background-color: var(--color-black);
}

.lowerLeft { 
    flex: 0 0 50%; 
    background-color: var(--color-black);
}

/*
    ALL 
*/

.right, .left { 
    overflow: hidden;
}

.right > .upperRight, .right > .lowerRight, .left > .upperLeft, .left > .lowerLeft { 
    overflow: hidden;
    padding: 1em;
}