.timestamp { 
    padding: 0.5em; 
    color: var(--color-white);
    margin: 0.25em; 
    display: flex; 
    background-color: var(--color-black);
    transition: background-color .25s; 
}

.timestamp:hover { 
    background-color: black;
    color: white;
    
}

.active { 
    background-color: var(--color-primary); 
    color: var(--color-black);
}